In [10]:
import win32com.client
import datetime
import pandas as pd

In [11]:
# set up connection to outlook
outlook = win32com.client.Dispatch("Outlook.Application").GetNamespace("MAPI")

In [12]:
# for sub folder, add <.folder("your folder name")>
inbox = outlook.GetDefaultFolder(6).folders("Chardon")

In [13]:
# Access to the email in the inbox
messages = inbox.Items

#Todays Date
today_date = str(datetime.date.today())

In [18]:
firstmessage = messages.GetFirst()

if str(firstmessage.senton.date()) == today_date:
        #returns the first attachment
        attachments = firstmessage.Attachments
        attachment = attachments.Item(1)
        attachment_name = str(attachment).lower()
        attachment.SaveASfile("V:\\Data & Analytics\\Sandbox\\Gage\\Practice_py"+ '\\' + attachment_name)
        print("Attachment has been saved")

Attachment has been saved

In [21]:
df = pd.read_csv(attachment_name, sep = '\t')
print(df)

                 RESORT        BUSINESS_DATE CHAR_BUSINESS_DATE MARKET_CODE  \
0                 EDIAP            01-JAN-22           01-01-22           A
1                 EDIAP            01-JAN-22           01-01-22           B
2                 EDIAP            01-JAN-22           01-01-22           C
3                 EDIAP            01-JAN-22           01-01-22           D
4                 EDIAP            01-JAN-22           01-01-22           G
...                 ...                  ...                ...         ...
2437              EDIAP            02-MAY-22           02-05-22           W
2438              EDIAP            02-MAY-22           02-05-22           X
2439              EDIAP            02-MAY-22           02-05-22           Y
2440  S_DEF_ROOM_REPORT         S_REV_REPORT               LOGO   GUEST_REP
2441               2870  565028.698333333405                NaN        5525

       CF_MASTER_SEQ      GROUP_NAME           S_REV_MKT     S_DEF_ROOMS_MKT  \
0                  A               A    20935.1666666667                 222
1                  B               B  64637.805000000014                 647
2                  C               C   3086.444444444452                  40
3                  D               D  62801.196111111098                 707
4                  G               G    516.035555555555                   7
...              ...             ...                 ...                 ...
2437               W               W  34856.623888888914                 539
2438               X               X  18647.609999999996                 159
2439               Y               Y   1918.941111111106                  23
2440  SINGLE_OCC_REP  DOUBLE_OCC_REP       FB_REV_REPORT     MISC_REV_REPORT
2441             915            1955  64787.829999999869  31768.184444444619

                                S_FB_REV_MKT      S_MISC_REV_MKT  ...  \
0                           543.308333333332      4.166666666667  ...
1                         23301.848888888846   3821.540000000029  ...
2                           274.916666666667    222.500000000001  ...
3                          1464.119444444443   7378.057777777816  ...
4                             65.51111111111                   0  ...
...                                      ...                 ...  ...
2437                        319.452777777779  10479.921666666711  ...
2438                        938.355555555554   3085.416666666683  ...
2439                                       0                   0  ...
2440                        TOTAL_ARR_REPORT       PER_OCC_TOTAL  ...
2441  196.8741109175377717770034843205574913          24.2521548  ...

     OCC_SINGLE DOUBLE_OCC     REVENUE  FB_REV  OTHER_REV  TOTAL_REVENUE  \
0           0.0        0.0    0.000000     0.0   0.000000       0.000000
1           0.0        0.0    0.000000     0.0   0.000000       0.000000
2           0.0        0.0    0.000000     0.0   0.000000       0.000000
3           0.0        0.0    0.000000     0.0   0.000000       0.000000
4           0.0        0.0    0.000000     0.0   0.000000       0.000000
...         ...        ...         ...     ...        ...            ...
2437        0.0        6.0  501.841667     0.0  87.500000     589.341667
2438        0.0        2.0  207.483333     0.0  39.166667     246.650000
2439        0.0        0.0    0.000000     0.0   0.000000       0.000000
2440        NaN        NaN         NaN     NaN        NaN            NaN
2441        NaN        NaN         NaN     NaN        NaN            NaN

      RESORT_ROOM   PER_OCC     GET_ARR  MULTI_OCC_PER
0            97.0  0.000000    0.000000       0.000000
1            97.0  0.000000    0.000000       0.000000
2            97.0  0.000000    0.000000       0.000000
3            97.0  0.000000    0.000000       0.000000
4            97.0  0.000000    0.000000       0.000000
...           ...       ...         ...            ...
2437         97.0  6.185567   83.640278       6.185567
2438         97.0  2.061856  103.741667       2.061856
2439         97.0  0.000000    0.000000       0.000000
2440          NaN       NaN         NaN            NaN
2441          NaN       NaN         NaN            NaN

[2442 rows x 43 columns]